.App {
  text-align: center;
  background-color: #fff;
  /* color: white; */
  color: black;
  min-height: 100vh;
}


h1 {
  margin: 0;
}


.header {
  background-color: rgb(23, 32, 135);
  padding: 8px;
  color: #fff;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}

.movie {
  /* background-color: rgb(219, 212, 212); */
  background-color: rgb(152, 200, 199);
  color: black;
  border: 1px solid gray;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14px;
}


.movie img {
  height: 220px;
  width: 100%;
}
